body {
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	/*margin-left: 15px;	*/
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

    color: rgb(62, 61, 61) !important;
}

.app-header {
    font-weight: 100;
    font-size: 15px;

}

.app-header h3, .app-header h5, .app-header .h3, .app-header .h5 {
	color: #ffffff !important;
}

.app-header-sm {
	margin: 55px 0px;
}

.imgRoundedCorners {
    /*width:40%;*/
    height:40%;
    border-radius:50%;
    overflow:hidden;
}

.nav-link {
	padding-right: 20px;
}

.app-bottom-section {
	/*overflow-y: auto;*/
	z-index: 1000;
	background-color: #ffffff;
	color: #636363;
}

.aboutMe {
	/*color: black;*/
	/*padding: 20px;*/
	/*padding-top: 40px;*/
}

.img {
	float: left;
	padding: 10px;
	margin-top:35px;
}

.bodyDiv{
	padding-top: 10px;
	background-color: #ffffff;
/*	min-height: 600px;
	border: 2px solid blue;
	margin: 100px;*/
}

.mainContent {
	height: 100%; 
	margin-bottom: 30px;
	/*width: 100%;*/

}

.main-content-in-focus {
	border-left: 1px solid #fa4b2a;
}


.resumeDiv .resume-item-row {
	width: 50% !important;
}


.project-show-hover {
	width: 350px !important;
	height: 250px !important;
	/*display: block;*/
	opacity: 1 !important;
}

.project-hide-hover {
	width: 0px;
	height: 0px;
	/*display: none;*/
	opacity: 0;
}

.toggleDiv {
	display: none;
}

.project-content {
	display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.project-text hr {
	margin-bottom: 5px !important;
}

.project-text a, .project-text a:hover, .project-text a:focus {
	color: inherit !important;
	text-decoration: none;
}



.bodyDiv .row {
	margin-left: 0px !important;
	margin-right: 0px !important;

}

.device-icon {   
	width: 50px;
    height: 50px;
    margin: 10px;
 }


.projectsDiv:focus {
	background-color: #ebebeb;
}

#contact .row {
	margin-bottom: 20px;
}

/*#contact .form-control {
	width: 40%;
    margin-left: 55px;
}*/

/* Navigation Bar Styles*/

/*.app-nav {
	
	border-color: rgba(25, 18, 18, 0) !important;

}*/

.app-nav-fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    box-shadow: 1px 1px 1px 1px
}

.app-nav-fixed-top .app-nav{
	margin-bottom: 0px;
}

/*#app-collapsible-navbar {
	 display: flex !important;
    justify-content: center;
}*/

/*.app-nav {
	background-color: #fa4b2a !important;
	border-color: rgba(25, 18, 18, 0) !important;
	border-radius: 0px !important;
}

.app-nav a {
	color: #ffffff !important;
	border-right: 1px solid #fa4b2a !important;
    border-left: 1px solid #fa4b2a !important; 
}



.app-nav a:hover {
	color: #fa4b2a !important;
    background-color: #ffffff !important;
}

.app-nav .active a {
	color: #fa4b2a !important;
    background-color: #ffffff !important;
    border-right: 1px solid #ffffff !important;
    border-left: 1px solid #ffffff !important;
}

.app-nav .active a:hover, .app-nav .active a:focus {
	color: #ffffff !important;
    background-color: #fa4b2a !important;
}*/

/* End Navigation Bar Styles*/
