/* app css stylesheet */

body {
  font-weight: 100;
}
small {
  color: #fa4b2a;
}

.page-header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #940431;
    color: #ffffff;
}

.data-slider-wrapper {
  display: flex;
  opacity: 0;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top:  100px;
  z-index: 500;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

.data-slider-wrapper-expanded { 
  opacity: 100;
  z-index: 1000;
}

.data-slider-wrapper-collapsed {  
  opacity: 0;
  z-index: 10;

}

/*.data-slider-wrapper-expanded .slideContainer {
  display: block;
}

.data-slider-wrapper-collapsed .slideContainer {
  display: none;
}*/


.data-slider-container, .slider-zoom-container  {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* Zoom Demo Styles */

.zoom-demo-wrapper {
  display: flex;
  position: absolute;
  top:  100px;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.zoom-demo-wrapper-expanded {
  opacity: 100;
  z-index: 1000;

}

.zoom-demo-wrapper-collapsed {
  opacity: 0;
  z-index: 10;

}


/*.slider-zoom-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}*/

.zoom-left-panel {
  margin-bottom: 20px;
  margin-left: 50px;
}

.zoom-text {
  position: absolute;
  left: 25px;  
}

.image-outer-container {
  /*position: absolute;*/
  margin-top: 75px;
  margin-left: 200px; 
}

.demo-img {
  width: 215px;
  height: 300px;
}

.app-footer {
  position: absolute;
  height: 80px;
  background-color: #ebebeb;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
}
