

<div id="contact" class="container mainContent">
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<h2 class="col-md-12">
			Contact Me
		</h2>
	</div>


	<div class="container row">
		<div class="row col-md-12">
			<div class="col-md-3 container">
			</div>
			<div class="col-md-3 container">
				<div class="row">
					<h4 class="col-md-12">
						Arvind Kannan
					</h4>					
				</div>
				<div class="row">
					<address class="col-md-12">
						arvind.kannan12@gmail.com <br>
						+1 310.945.6298 <br>
						S.F Bay Area, CA <br>
					</address>
				</div>	
				<div class="row">
					<a href="https://github.com/arvindknnn" target="new" class="col-md-4" >
						<img src="images/github.png">
					</a>
					<a href="https://www.linkedin.com/in/arvindkannan" target="new" class="col-md-4" style="margin-top: 5px">
						<img src="images/linkedin.png">
					</a>
					<a href="https://twitter.com/_ArvindKannan" target="new" class="col-md-4" style="margin-top: 5px">
						<img src="images/twitter.png">
					</a>										
				</div>

			</div>
			<div class="col-md-6" style="border-left: 1px solid #ebebeb;">
				<div class="row form-inline">
					<div class="form-group col-md-8">
			    		<label for="inputName">Name</label>
			    		<input type="text" class="form-control txt-name" id="inputName" placeholder="First-Name Last-Name">
			  		</div>    		 		
			  	</div>	
				<div class="row form-inline">
			  		<div class="form-group col-md-8">
			    		<label for="inputEmail">Email</label>
			    		<input type="email" class="form-control txt-email" id="inputEmail" placeholder="youremail@company.com">
			  		</div>     		 		
			  	</div>				  	
			  	<div class="row">
			  		<div class="form-group col-md-12">
			    		<label for="inputMessage">Message</label>
			  			<textarea class="form-control col-md-5 txt-msg" rows="8" id="inputMessage"></textarea>    		
			  		</div>  		
			  	</div>
				<div class="row">  	
			  		<div class="form-group col-md-12">
			  			<button type="submit" class="btn btn-default col-md-3 btn-send-email">Send Email</button>
			  		</div>
				</div>
				<div class="row">
			  		<span class="col-md-12 alert message-result hidden" role="alert"></span>					
				</div>
			</div>
		</div>
	</div>

</div>