<div id="projectsDiv" class="container mainContent">
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<h2 class="col-md-12">
			Projects
		</h2>
	</div>
	<div class="row">
		<p>	
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

			 
			Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

			The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
		</p>
	</div>
	<div  class="row">
		<div class="project-maps project-content col-md-4">
			<img class="img-responsive img-google-map" src="images/project-1.png" alt="Image for Google Maps Project">
			<div class="project-text"style="width: 350px; height: 0px; z-index: 2000; border: 1px solid red; text-align: center; position: absolute; opacity:0; top: 0px; left: 15px; background-color:#ffffff;transition: opacity 1s, height 1s; cursor: pointer">
				<a href="projects/mapSearch">
					<h3 style="color:#fa4b2a">
						Location Search
					</h3>
					<h5 style="color:#fa4b2a"> 
						KnockoutJS 
					</h5>
					<p>
						Search location on Google Maps and read Yelp Reviews and Wiki about each result. AJAX Rocks!
					</p>
					<p>
						Designed for Mobile, Tablet and Desktops
					</p>
					<hr>
					<div style="display: flex; justify-content: center">
						<img src="images/icon-mobile.png" alt="Icon Cellphone" class="img-responsive device-icon">
						<img src="images/icon-tablet.png" alt="Icon Tablet" class="img-responsive device-icon">
						<img src="images/icon-desktop.png" alt="Icon Desktop" class="img-responsive device-icon">
					</div>
				</a>
			</div>
		</div>	
		<div class="project-slider project-content col-md-4">
			<img class="img-responsive" src="images/project-2.png" alt="Image for AngularJS Slider Project" style="border: 1px solid #ebebeb">
			<div class="project-text" style="width: 350px; height: 0px; z-index: 2000; border: 1px solid red; text-align: center; position: absolute; opacity:0; top: 0px; left: 15px; background-color:#ffffff;transition: opacity 1s, height 1s; cursor: pointer">
				<a href="projects/sliderDemo">
					<h3 style="color:#fa4b2a">
						Slider Widget
					</h3>
					<h5 style="color:#fa4b2a"> 
						AngularJS 
					</h5>
					<p>
						Search location on Google Maps and read Yelp Reviews and Wiki about each result. AJAX Rocks!
					</p>
					<p>
						Designed for Desktops
					</p>
					<hr>
					<div style="display: flex; justify-content: center">
						<img src="images/icon-desktop.png" alt="Icon Desktop" class="img-responsive device-icon">
					</div>
				</a>
			</div>	
		</div>	
		<div class="project-game project-content col-md-4">
			<img class="img-responsive" src="images/project-3.png" alt="Image for HTML5 Game Project">
			<div class="project-text"style="width: 350px; height: 0px; z-index: 2000; border: 1px solid red; text-align: center; position: absolute; opacity:0; top: 0px; left: 15px; background-color:#ffffff;transition: opacity 1s, height 1s; cursor: pointer">
				<a href="projects/game">
					<h3 style="color:#fa4b2a">
						Frogger Game
					</h3>
					<h5 style="color:#fa4b2a"> 
						HTML5 Canvas 
					</h5>			
					<p>
						Search location on Google Maps and read Yelp Reviews and Wiki about each result. AJAX Rocks!
					</p>
					<p>
						Designed for Desktops
					</p>
					<hr>
					<div style="display: flex; justify-content: center">
						<img src="images/icon-desktop.png" alt="Icon Desktop" class="img-responsive device-icon">
					</div>
				</a>
			</div>			
		</div>
	</div>	
</div>
