<div id="projectsDiv" class="mainContent toggleDiv row">
	<div class="project-maps project-content col-md-4">
		<!-- <img class="img-responsive" src="images/proejct-1.jpg" alt="Image for Google Maps Project"> -->
		<div style="width: 350px; height: 250px; border: 1px solid red; text-align: center">
			<h3>Location Search</h3>
			<p>Search location on Google Maps and read Yelp Reviews and Wiki about each result. AJAX Rocks!</p>
			<p>Designed for Mobile, Tablet and Desktops.</p>

			<hr>
			<div style="display: flex; justify-content: center">
				<img src="images/icon-mobile.png" alt="Icon Cellphone" class="img-responsive device-icon">
				<img src="images/icon-tablet.png" alt="Icon Tablet" class="img-responsive device-icon">
				<img src="images/icon-desktop.png" alt="Icon Desktop" class="img-responsive device-icon">
			</div>

		</div>
	</div>	
	<div class="project-slider project-content col-md-4">
		<img class="img-responsive" src="images/proejct-2.jpg" alt="Image for AngularJS Slider Project">
	</div>	
	<div class="project-game project-content col-md-4">
		<img class="img-responsive" src="images/proejct-3.jpg" alt="Image for HTML5 Game Project">
	</div>
</div>