				<div id="resume" class="mainContent main-content-in-focus container">

					<div class="row"><h2 class="col-md-12">About Me</h2></div>
					<div class-"row resume-item-row">
						<h3 class="col-md-5">
							Profile
						</h3>
						<div class="col-md-7 container-fluid" style="margin-bottom:20px">
							<div class="row">
								<div class="col-md-12">
									<p>
										My experience spans application development on various platforms. I have worked in front-end development using web technologies such as HTML5, CSS3, Bootsrap, Responsive design, Javascript, jQuery, KnockoutJS, AngularJS, AJAX etc. I have also worked on proprietary development platform such as BMC Remedy Action Request (AR) System. In addition, I have varied non-mainstream skills that I’ve had to pick up as needed - I have written compact java widgets that plugin to BMC Remedy AR System to make it versatile; I have written database stored procedures to accomplish certain tasks; In short, I have great experience scaling my knowledge to the need and keeping up with ever growing technology.
									</p>
									<p> Checkout my work under <i> Projects </i>. If you like my website and my work, contact me - I'm available for contract / full-time</p>
								</div>
							</div>														
						</div>
					</div>				
					<div class-"row resume-item-row">
						<h3 class="col-md-5">
							Technical Skills
						</h3>
						<div class="col-md-7 container-fluid" style="margin-bottom:20px">
							<div class="row">
								<div class="col-md-12">
									HTML 5, CSS 3, JavaScript
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									jQuery, Knockout.js, AngularJS, Bootstrap
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									Gulp, Git/GitHub, Sublime Text, WebStorm
								</div>
							</div>														
						</div>
					</div>
					<div class-"row resume-item-row">
						<h3 class="col-md-5">
							Work Experience
						</h3>
						<div class="col-md-7 container-fluid" style="margin-bottom:20px">
							<div class="row">
								<div class="col-md-12">
									<h4>UI Developer, Juniper Networks, CA – 2015-CURRENT</h4>
									<span>
										Member of core UI framework team
									</span><br>
									<span>
										Developed activity based workflow framework for rapid app development and reusable MVC based widgets for app consumption	
									</span><br>
									<span>
										Developed reusable interactive data visualization with d3JS
									</span><br>		
									<span>
										Developed CI/CD scripts
									</span>							
								</div>
							</div>						
							<div class="row">
								<div class="col-md-12">
									<h4>UI Developer, BMC Software, CA – 2014-2015</h4>
									<span>
										Worked in a massive development effort to redesign BMC Applications
									</span><br>
									<span>
										Developed fresh and new UI using AngularJS, Bootstrap, jQuery, REST
									</span><br>
									<span>
										Developed CI/CD scripts
									</span>										
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h4>Senior Consultant, BMC Software, CA – 2013-2014</h4>
									<span>
										Provided consultancy to customers on BMC Remedy Applications
									</span><br>
									<span> Developed custom UI using HTML5, CSS3, JavaScript and jQuery </span>
									<span><br>
										Developed java plugins to hook up third party applications with BMC Remedy
									</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h4>UI Developer, Prosoft IT Services, CA – 2010-2013</h4>
									<span>	
										Developed  modern Web UI layer using HTML, CSS and Javascript to replace legacy UI
									</span><br>
									<span> 
										Hooked up modern UI to legacy BMC AR System backend applications
									</span>
								</div>							
							</div>	
							<div class="row">
								<div class="col-md-12">
									<h4>IT Analyst, TATA Consultancy Services – 2005-2010</h4>
									<span>	
										Designed and developed applications for IT Service Management, Billing and Reporting based on BMC AR System Platform
									</span>
								</div>
							</div>																					
						</div>
					</div>
					<div class-"row resume-item-row">
						<h3 class="col-md-5">
							Education
						</h3>
						<div class="col-md-7 container-fluid" style="margin-bottom:20px">
							<div class="row">
								<div class="col-md-12">
									<h4>Visvesvaraya Technological University</h4>
									<span>
										Bachelor’s in Engineering	, Electrical & Electronics
									</span>
								</div>
							</div>										
						</div>
					</div>										
			</div>