html,body {
	margin: 0 auto;
	padding: 0;
	background-color: #ebebeb;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	font-weight: 200;
} 

header {
	background-color: #fa4b2a;
	color: #ffffff;
	height: 70px;
}

#detect-device {
	height: 0px !important;
	width: 0px !important;
}

.hidden {
	display: none;
}

.wait-spinner-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
/*    left: 40%;
    top: 35%;
*/
}

.wait-spinner {
    margin-top: 40%;
    /*left: 34%;*/
    left: 45%;

}

.wait-spinner-text {
	font-size: medium;
    color: #fa4b2a;

    top: 50%;
    position: absolute;
    left: 40%;
}

.gps-icon-sm {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 30px;
    width: 30px;
    z-index: 5000;
    cursor: pointer;
}

.gps-icon-md {
    position: absolute;
    right: 20px;
    top: 30px;
    height: 60px;
    width: 60px;
    z-index: 5000;
    cursor: pointer;
}

.map-container{
	position: absolute;
	width: 100%;
	height: 100%;
}

.app-caption {
    margin-left: 25%;
    position: absolute;
    color: #fa4b2a;
    background-color: #ffffff;
    top: 62px;
    width: 125px;
    border-radius: 50px;
    height: 25px;
}

.app-caption-span {
	margin-left: 12px;
    font-size: medium;
    font-style: oblique;
    font-weight: 200;
}

.app-map {
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo-wrapper {
    height: 90px;
    width: 0%;
    display: block;
    background-color: #fa4b2a;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px #ebebeb;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.app-logo {
	width: 120px;
    height: 100px;
    position: relative;
    float: left;
    margin-left: 32%;
}
}

.search-section {
	position: absolute;
	top: 100px;
	/*margin-left: 30px;*/
	z-index: 1000;
}

.search-results-pane {
    position: relative;   
    width: 0%;    
    float: left;
    height: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;

    /*display:none;*/
 }   

.side-panel-expand {
	width: 25% !important;
}

.side-panel-collapse {
	width: 0% !important;
}

.results-container {
	margin-top: 100px;
}

.ml-searchbox {
    top: 15px !important; 
    /*left: 25px !important; */
    padding: 7px !important; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 97% !important; 
	position: absolute !important; 
	height: 60px !important;
	margin-left: 5px !important;
	font-size: 20px !important;

}

.pac-item {
	height: 55px !important;
	font-size: 18px !important;
	padding-top: 3%;


}

.pac-item:hover {
	background-color: #ebebeb !important;
    cursor: pointer !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;   

}

.btn-search-results {
	position: absolute;
	bottom: 5px;
	background-color: #fa4b2a !important;
	border-color: #fa4b2a !important;

	color: #ffffff !important;
    width: 97% !important; 
	/*left: 5% !important;*/
	height: 50px;
	margin-left: 5px !important;
    padding: 7px !important; 
    outline: 0px auto -webkit-focus-ring-color !important;
}

@media (min-device-width:600px) and (min-width:672px){
	.ml-searchbox {
		width: 640px !important; 
		margin-top: 16px !important; 
		left: 5% !important;
		position: absolute !important; 
		width: 640px !important; 
	}

	.search-results-container {
		width: 640px !important; 		
		left: 5% !important;
		position: absolute !important; 
	}

	.btn-search-results {		
	    width: 640px !important; 
		left: 5% !important;
		margin-left: 0px !important;
	}

	.wait-spinner {
	    margin-top: 16%;
	    /*left: 34%;*/
	    left: 45%;
	}

}



.btn-search-results, .collapsed {
	background-color: #fa4b2a !important;
	border-color: #fa4b2a !important;

	color: #ffffff !important;
}


.btn-search-results:hover, .btn-search-results:active {
	background-color: #ffffff !important;
	border-color: #fa4b2a !important;
	color: #fa4b2a !important;
}

.search-results-container {
    position: absolute;
    bottom: 60px;
    /*left: 5%;*/
    max-height: 75%;
    width: 100%;
    background-color: #rgba(255, 255, 255, 0);
    /*display: flex;*/
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    /*flex-direction: column;*/
}

.search-results-container .well{
	margin-bottom: 0px !important;
	background-color: #ffffff !important;
}

.search-results-container .dropdown-toggle {
	background-color: #fa4b2a;
	color: #ffffff;
	width: 100%;
	height: 50px;
}

.search-result-data {
	display: flex;
	padding: 10px;
	width: 100%;
    cursor: pointer;
}

/*.search-result-data:hover {
	background-color: #ebebeb;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}*/

.search-result-data-hover {
	background-color: #ebebeb;
    /*cursor: pointer;*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.search-result-data .loc-icon {
	height: 20px;
	width: 20px;
	position: relative;
	float: left;
	top: 10px;
}


.locInfoModal .loc-icon {
	height: 20px;
	width: 20px;
	position: relative;
	float: left;
	top: 3px;
}

.icon-container {
	padding: 0px 25px;
	/*width: 60%;*/
}

.modal-title {
	margin-left: 30px !important;
}

.locInfoModal .tab-pane {
	padding-top: 10px !important;
	
}
.locInfoModal .tab-pane .tab-child{ 
	margin: 5px;
	width: 30%;
	float: left;
	position: relative;
}

.locInfoModal .tab-pane .tab-child-wide{ 
	margin: 5px;
	width: 100%;
	float: left;
	position: relative;
}

.yelp-rating .img-responsive{ 
	margin-right: 5px;
	top: 3px;
	float: left;
	position: relative;
}

.gmnoprint {
	display: none !important;
}

.modal-dialog {
	max-height: 85%;
	overflow-y: auto;

}

.modal-body {
	overflow-y: auto;

}

.modal-footer .btn {
	height: 50px;

    width: 100%;
    background-color: #fa4b2a !important;
	border-color: #fa4b2a !important;

	color: #ffffff !important;
}

.modal-footer .btn:hover {
	height: 50px;

    width: 100%;
    background-color: #ffffff !important;
	border-color: #fa4b2a !important;

	color: #fa4b2a !important;
}