
body {
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
	/*margin-left: 15px;	*/
	font-size: 17px;

	text-align: center;
}